body {
    margin: 0;
    height: 100vh;
    background-size: cover;
}

::placeholder{
    color: white;
}
.btnn:hover{
  color: #E32652;
  border-bottom: 2px solid #E32652;
}  
.btnn1:hover{
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
  }  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    height: 100%;
    box-shadow: 0px 0px 23px 0px #00000029;
    border-radius: 12px !important;
    margin-bottom: 30px !important;
  }
  
  .swiper-slide img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
  